<% layout('./layouts/boilerplate.ejs') -%>
<link rel="stylesheet" href="/styles/sign-in-snd-sign-up.styles.css">
<% if(message.length){ %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert" id="error-alert">
    <strong><%= message  %></strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>
<!-- <a href="/"> HOME</a> -->
<div class="navbar-cp">
  <div class="codebox-info">
    <span class="iconify" data-icon="ant-design:code-sandbox-outlined" data-inline="false" id="codebox-icon"></span>
    <a href="/">
      <div id="codebox-name">CODEBOX</div>
    </a>
  </div>
  
</div>
<section class="main-container">
  <div class="sign-up-section my-section">
    <div class="sign-up-card">
      <div class="gradient-text my-text-gradient">SIGN UP</div>
      <form action="/signup" method="POST" class="sign-up-form">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" name='username' id="floatingUsername" placeholder="name123" required>
          <label for="floatingUsername">Username</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" name='email' id="floatingEmail" placeholder="name@example.com"
            required>
          <label for="floatingEmail">Email</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="password"
            required>
          <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" name="confirmPassword" id="floatingPassword"
            placeholder="password" required>
          <label for="floatingPassword">Confirm Password</label>
        </div>
        <button class="my-gradient my-btn mb-4 mt-4" type="submit">SIGN UP</button>
      </form>
    </div>
  </div>
  <div class="log-in-section my-section">
    <div class="login-text">
      Already have an account?
    </div>
    <div class="login-card">
      <div class="gradient-text">LOG IN</div>
      <form action="/login" method="POST" class="login-form">
        <div class="form-floating mb-3">
          <input type="text" name="username" class="form-control" id="floatingUsername" placeholder="name@example.com">
          <label for="floatingUsername">Username</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="name@example.com">
          <label for="floatingPassword">Password</label>
        </div>

        <button class="my-gradient my-btn mt-4 mb-4">LOG IN</button>
      </form>

    </div>
  </div>
</section>