/* body{
  background-color: #1b2021;
  background-color: white;
  max-height: 100vh;
} */
body {
  min-height: 100vh;
  max-height: 100vh;
  width: 100vw;
  background-image: url("https://res.cloudinary.com/dx1ye2bro/image/upload/v1623393998/Desktop_-_3_eknelj.jpg");
  background-position: center;
  /* display: grid;
  place-items: center; */
  background-size: cover;
}
.main-container{
  width: 80%;
  margin: 5vh auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
#error-alert{
  width: 80%;
  margin: 20px auto;
}
.my-section{
  width: 35%;
  min-height: 30vh;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}

.sign-up-card{
  height: 100%;
  width: 100%;
  background-color: white;
  opacity:0.8;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.gradient-text{
  text-align: center;
  font-weight: 700;
  font-size: 2em;
  margin-top: 20px;
  /* background-color: #7209b7; */
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #7209b7),
    color-stop(0.6, #b5179e),
    color-stop(1, #b5179e)
  );
  color: transparent;
  /* color: #7109b7be; */
  -webkit-background-clip: text;
  background-clip: text;
}

.sign-up-form{
  margin-top: 30px;
  text-align: center;
}

.form-floating{
  width: 80%;
  margin:5vh auto
}

.form-floating > input{
  border: none;
  border-bottom: 2px solid #7209B7;
  border-radius: 0;
  letter-spacing: 1px;
  /* color:#F72585; */
}
.form-floating > label{
  color:#F72585;
  font-size: 1.2em;
  opacity: 1;
  letter-spacing: 1px;
}
.form-floating >input.form-control:focus{
  box-shadow: inset 0 -1px 0 #ddd;
  border-bottom: 2px solid #7209B7;
  /* color:#F72585; */
}

.login-text{
  font-size: 1.5em;
  font-weight: 500;
  color: #F72585;
}

.login-card{
  width: 100%;
  min-height: 50%;
  margin-top: 20px;
  background-color: white;
  opacity:0.8;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.login-form{
  text-align: center;
}



