body {
  min-height: 100vh;
  max-height: 100vh;
  width: 100vw;
  background-image: url("https://res.cloudinary.com/dx1ye2bro/image/upload/v1624173081/Group_21_blqdnk.jpg");
  background-position: center;
  /* display: grid;
  place-items: center; */
  background-size: cover;
  font-family: 'Josefin Sans', sans-serif;
}

.user-page{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: space-between;
  /* background-color: red; */
}
.user-profile{
  width: 25%;
  height: 70%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}


.user-profile .user-image {
  width: 30%;
  height: 20%;
  /* background-color: red; */
}

#user-img{
  width: 100%;
  height: 100%;
  color: #7209B7;
}

.user-username{
  font-size: 2em;
  color: #7209B7;
}


.user-project-count{
  font-size: 1.5em;
  color: #F72585;
}

.user-projects{
  width: 75%;
  height: 100%;
  /* background-color: yellow; */
  
}

.projects-section{
  width: 95%;
  height: 100%;
  /* background-color: blue; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.search-projects{
  width: 100%;
  height: 10%;
  /* background-color: green; */
  display: grid;
  place-items: center;
}
.search-projects > input{
  width: 50%;
  border: none;
  border-radius: 20px;
  text-align:center;
  color: #F72585;
  /* height: 35%; */
  height: 50%;


}

.search-projects > input:focus{
  outline: none;
}

.search-projects>input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #F72585;
  
}
.search-projects>input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #F72585;
 
 opacity:  1;
}
.search-projects>input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #F72585;
 
 opacity:  1;
}
.search-projects>input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #F72585;
 
}
.search-projects>input::-ms-input-placeholder { /* Microsoft Edge */
  color: #F72585;
 
}

.search-projects>input::placeholder { /* Most modern browsers support this now. */
  color: #F72585;
 
}

.projects{
  width: 100%;
  height: 85%;
  /* background-color: pink; */
  max-height: 85%;
  overflow-y: scroll;

}
.projects::-webkit-scrollbar{
  display: none;
}

.project-container{
  width: 95%;
  height: fit-content;
  background-color: white;
  padding: 10px 20px;
  margin: 15px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* cursor: pointer; */
}

.project-info{
  display: flex;
  flex-direction: row;
  width: 30%;
  /* background-color: red; */
}
.project-title{
  font-size: 1.3em;
  margin: 0 20px;
}

.project-icon{
  width: 35px;
  height: 35px;
  color: #7209B7;
}

.project-options{
  width: 30%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.view-project-btn{
  width: fit-content;
  height: fit-content;
  padding: 5px 15px;
  /* background-color: #4cc9f0; */
  color:#7209B7;
  border: 1px solid #7209B7;
  cursor: pointer;
}
.view-project-btn:hover{
  background-color: #7209B7;
  color: white;
}

.delete-project-btn{
  width: fit-content;
  height: fit-content;
  padding: 5px 15px;
  /* background-color: red; */
  color: red;
  border: 1px solid red;
  cursor: pointer;
}
.delete-project-btn:hover{
  background-color: red;
  color: white;
}


.my-btn2{
  width:45% ;
  color:white;
  text-align: center;
  padding: 0.3em 0;
  border: 2px solid #7209B7;
  cursor: pointer;
  font-weight: 600;
 font-size: 1.2em; 
 color: #7209B7;
}

.my-btn2:hover {
  background-color: #7209B7;
  color: white;
}

.create-btns{
  width: 60%;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}